@font-face {
    font-family: "apple";
    src: url("applefont.otf") format("woff2");
}
body{
    background-color:black;
}
*{
    margin: 0;
    padding: 0;
}
#imageTopIndex{
    position: relative;
    display: flex;
}
#imageTopIndex img{
    width: 100%;
    position: absolute;
    z-index: -1;
}
#imageTopIndex input{
    background-color: #00000099;
    border: none;
    border-radius: 10px 0 0 10px;
    height: 30px;
    padding: 2px;
    color: white;
    font-weight: 600;
}
#searchDiv{
    margin: auto;
    padding-top: 10%;
}
input:focus{
    border: none;
    box-shadow: none;
}

#menus{
    position: inherit;
    background-color: white;
    border-radius: 10px 10px 0 0;
    padding: 12px;
    margin-top: 10px;
}
#ListMenu{
    display: table;
    clear: both;
    width: 100%;
}
.menu{
    float: left;
    width: 33%;
    text-align: center;
}
.menu span{
    padding-right: 5px;
}
#ListMenu .contentMenu{
    overflow: visible !important;
    background: linear-gradient(45deg, #dd4d16 10%, #e19100 90%);
    margin: 6px;
    border-radius: 3px;
    padding: 23px 6px;
    box-shadow: 4px 3px 6px #681b04;
}
#ListMenu .contentMenu:hover{
    background: linear-gradient(45deg, #db450c 10%, #ea9b0b 90%);
}
